<%- include("header"); %>

    <div class="box" id="heading">
        <h1><%= Listtitle %> ToDo</h1>
    </div>
    
    <div class="box">
        <% for( let x of checklist){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= x._id %>" onchange="this.form.submit()">
                    <p><%= x.name %></p>
                </div>
                <input type="hidden" name="listname" value="<%= Listtitle %>"></input>
            </form>
         <%}%>

         <form class="item" action="/" method="post">
            <input type="text" name="item" placeholder="add item" autocomplete="off">
            <button type="submit" name="list_type" value=<%= Listtitle %>>+</button>
        </form>
    </div>
<%- include("footer"); -%>
